<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Test title1</title>
  </head>
  <body>
  	<div style="text-align:center;">
	    <div id="intro" style="width: 100%; padding:40px; text-align:center;">
	    <h1>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h1>
	    </div>

	    <div class="container">
		  <div class="row">
		    <div class="col-sm">
		      <a href=""><h4> Author1 </h4></a>    
		    </div>
		    <div class="col-sm">
		      <a href=""><h4> Author2 </h4></a> 
		    </div>
		    <div class="col-sm">
		      <a href=""><h4> Author3 </h4></a> 
		    </div>
		    <div class="col-sm">
		      <a href=""><h4> Author4 </h4></a> 
		    </div>
		  </div>
		  <p></p>

		  <div class="row">
		  	<div class="col-lg">
		   	<h4> University of Illinois at Urbana-Champaign (UIUC) </h4>
		  </div>
	    </div>

	    <div class="row">
	  	<div class="col-lg">
	   	    <h4> RoboSoft 2021 </h4>
	        </div>
	    </div>
		  
	    <div class="row">
		  <div class="col-lg">
		    <center><h2><strong>
		    <a href="./pdfs/test.pdf">Paper</a> |
	            <a href="./pdfs/bib.txt">Bibtex</a> |
                    <a href="">Code</a> </strong></h2></center> 
		  </div>
	    </div>
		  <br>
		  
	    <div class="row">
	  	<div class="col-lg">
	  	<img src="./images/test.jpg" class="img-fluid" style="width:900px;">
	  	</div>
	    </div>

	    <br><br>

	    <div class="row">
	  	<div class="col-sm">
	  		<h2> Abstract </h2>
	  	</div>
	    </div>

	    <div class="row">
	  	<div style="font-size:16px"><p align="justify">
	  		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	  	</p>
	  	</div>
            </div>

	    <br><br>

	    <div class="row">
	  	<div class="col-lg">
	  		<h2>Videos: Qualitative Experiment</h2>
		        <div class="content">The videos are best viewed in full-screen mode.<font color="#F8DDA3"><b>yellow</b></font>.  </div>
			<div class="content">Example video</div>
			<video id="vid" controls="controls" onended="this.currentTime = 0; this.play();" src="video/test.mp4" width="420" height="260"> 
			</video>
                </div>
	    </div>        		
	<br><br>

	<div class="row">
	  	<div class="col-sm">
	  		<h2> Citation </h2>
	  		    <pre align="left">
				@inproceedings{semtrack-2021,
				  title = {Test title},
				  author = {Author1$^\ast$ and Author1$^\ast$ and Author1$^\ast$ and Author1},
				  booktitle = {Test},
				  year = {2021},
				  note = {$^\ast$ equal contribution},
				}
                            </pre>
		</div>
	 </div>

	  <div class="row">
	  	<div class="col-sm">
	  		<h2> Acknowledgement </h2>
	  		<p align="left">
                        This work is supported by.

	  	</div>
	  </div>		  

	</div>
	</div>
        <br><br>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

        <div class="row">
	  	<div class="col-sm">	  		
	  		<p align="center">
                         Website adapted from <a href="https://ioujenliu.github.io/SemanticTracklets/">Iou-Jen</a>, <a href="https://jonbarron.info/">Jon Barron </a> and <a href="https://github.com/leonidk/new_website"> Leonid Keselman </a>.
	  	</div>
	  </div>

  </body>


</html>
